@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-down {
  @apply -translate-y-full opacity-0;
}

.slide-down-active {
  @apply -translate-y-0 opacity-100;
}

.vertical-text {
  transform: rotate(-90deg);
  transform-origin: bottom left;
  white-space: nowrap;
}

/* styles.css */

.bg-gradient-radial {
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}


@layer utilities {
  .border-gradient-top-bottom {
    position: relative;
  }

  .border-gradient-top-bottom::before,
  .border-gradient-top-bottom::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px; /* Adjust the border height as needed */
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }

  .border-gradient-top-bottom::before {
    top: 0;
  }

  .border-gradient-top-bottom::after {
    bottom: 0;
  }
}

.circleLoader {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 50px;
  height: 50px;
}
.circleLoader:after {
  content: "";
  background-image: url(https://assets.nflxext.com/en_us/pages/wiplayer/site-spinner.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: absolute;
  margin: -6px;
  width: inherit;
  height: inherit;
  animation: circleLoader-spin 1.1s linear infinite,1!important;
  -webkit-animation: circleLoader-spin 1.1s linear infinite,1!important; 
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes circleLoader-spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circleLoader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}


.three-dots-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #333; /* You can change the color as needed */
  border-radius: 50%;
  margin: 0 5px;
  animation: bounce 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.5s;
}

.dot:nth-child(3) {
  animation-delay: 1s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}


/* styles.css */

.Toastify .Toastify_toast-body {
  color: white;
  font-size: 14px;   
}

.Toastify .Toastify__toast--success {
  background: black;   
}